.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerImage {
  height: 160px;
  width: auto;
  margin-bottom: 50px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 100;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 25px;
}

@media (max-width: 600px) {
  
}
